.form {
	background-color: #EEF3F7;
	border-radius: 4px;
}

.form-head {
	position: relative;
	background-color: #00CCEA;
	text-align: center;
	color: #FFF;
	font-size: 27px;
	font-weight: 300;
	padding: 50px 60px 45px 60px;
	&:before{
		content: '';
		bottom: -17px;
		left: 0;
		position: absolute;
		width: 649px;
		height: 17px;
		background-color: #00E0FB;
	}
}

.form-content {
	padding: 65px 0 174px 130px;
	width: 377px;
}

.form-group {
	display: inline-block;
	position: relative;
	margin-bottom: 17px;
	label, input, textarea {		
		font-family: fira_sanslight;
	}
	label {
		color: #4F697C;
		font-size: 20px;
		font-weight: 300;
	}
	input {
		width: 163px;
		background-color: #FBFCFD;
		border: 1px solid #00AAC2;
		border-radius: 4px;
		color: #00AAC2;
		font-size: 12px;
		font-weight: 300;
		padding: 4px 0 3px 7px;
		margin-top: 7px;
	}
	&.name {float: left;}
	&.email {float: right;}

	input::-webkit-input-placeholder {
		font-family: fira_sanslight;
		color: #00AAC2;
		font-size: 12px;
		font-weight: 300;
	}
	
	
	textarea {
		width: 363px;
		background-color: #FBFCFD;
		border: 1px solid #00AAC2;
		border-radius: 4px;
		resize: none;
		padding: 6px 6px 134px 6px;
		margin-top: 7px;	
		color: #00AAC2;
		font-size: 12px;
		font-weight: 300;
	}
	textarea::-webkit-input-placeholder {
		font-family: fira_sanslight;
		color: #00AAC2;
		font-size: 12px;
		font-weight: 300;
	}
	textarea::-moz-placeholder {
		font-family: fira_sanslight;
		color: #00AAC2;
		font-size: 12px;
		font-weight: 300;
	}
	textarea:-moz-placeholder  {
		font-family: fira_sanslight;
		color: #00AAC2;
		font-size: 12px;
		font-weight: 300;
	} 
	textarea:-ms-input-placeholder {
		font-family: fira_sanslight;
		color: #00AAC2;
		font-size: 12px;
		font-weight: 300;
	}

	&.captcha {

		.innerblock {
			margin-top: 7px;
			overflow: hidden;
			width: 377px;
			.for-captcha {
			width: 186px;
			height: 79px;
			border: 1px solid #00AAC2;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			float: left;
			background: url(../img/captcha.png) no-repeat #FBFCFD 50% 50%;
			}
			input[type="text"] {
				float: right;
				margin-top: 27px;
			}	
		}
			
	}

	&.buttons {

			display: block;
			overflow: hidden;
			input[type="submit"]{
			float: left;
			border: none;
			width: 139px;
			background-color: #00CCEA;
			border-radius: 5px;
			color: #F6F6F6;
			font-size: 19px;
			font-weight: 300;
			padding: 0 8px;
			box-shadow: 0 3px 0 #00AAC2;
			margin-bottom: 3px;
			cursor: pointer;
		}
		input[type="reset"]{
			float: right;
			border: none;
			width: 139px;
			background-color: #799EB7;
			border-radius: 5px;
			color: #F6F6F6;
			font-size: 19px;
			font-weight: 300;
			padding: 0 8px;
			box-shadow: 0 3px 0 #5E7C91;
			cursor: pointer;
		}
	}
}

.success {
  padding: 15px 0;
  max-width: 100%;
  display: block;
  text-align: center;
  font-size: 19px;
  color: #fff;
  background: #3BA8C0;
  box-shadow: 0 5px 8px grey;
  border-radius: 4px;
}