.left-column {
	width: 258px;
	float: left;
}

.sidebar {
	border-radius: 4px;
	background-color: #EFF3F7;
	overflow:hidden;
	.sidebar-items {
		a {
			display: block;
			padding: 27px 0 28px 28px;
			font-weight: 300;
			text-decoration: none;
			border-bottom: 2px solid #3BA8C0;
			color: #959AA8;
			&:hover {
				color: #3BA8C0;
			}
		}
		&.active a{
			padding: 24px 0 25px 28px;
			color: #F9FAFB;
			font-size: 22px;
			background-color: #3BA8C0;
		}
		&:last-child a {
			border-bottom: 2px solid transparent;
		}

			
	}
}

.contacts {
	margin-top: 23px;	
	border-radius: 4px;
	overflow: hidden;
	// height: 155px;
	.contacts-name {
		padding: 10px 0 10px 19px;
		background-color: #3BA8C0;
		p {
			color: #FBFCFD;
			font-size: 20px;
			font-weight: 300;
		}
	}
	.contacts-items {
		color: #EDEDED;
		font-size: 16px;
		font-weight: 300;
		&:nth-child(1) {
			position: relative;
			padding: 11px 0 12px 83px;
			background: #41b9d4;
			&:before {
				content: '';
				position: absolute;
				top: 11px;
				left: 42px;
				background: url(../img/sprites.png) 0 -100px;
				width: 21px;
				height: 16px;
			}

		}
		&:nth-child(2) {
			position: relative;
			padding: 10px 0 11px 83px;
			background: #48cbe8;
			&:before {
				content: '';
				position: absolute;
				top: 7px;
				left: 42px;
				background: url(../img/sprites.png) -25px -100px;
				width: 19px;
				height: 21px;
			}
		}
		&:last-child {
			position: relative;
			padding: 8px 0 13px 83px;
			background: #51daf8;
			&:before {
				content: '';
				position: absolute;
				top: 8px;
				left: 39px;
				background: url(../img/sprites.png) 0 -120px;
				width: 20px;
				height: 20px;
			}
		}
	}	
}