.right-column {
	width: 648px;
	padding-left: 53px;
	overflow: hidden;
}

.information {
	// height: 324px;
	background-color: #EFF3F7;
	border-radius: 4px;
	.information-name {
		color: #3BA8C0;
		font-size: 27px;
		font-weight: 300;
		padding: 20px 0 20px 24px;
		border-bottom: 2px solid #3BA8C0;
		width: 342px;
	}
	.main-information {
		margin-top: 24px;
	}
}

.main-information {
	overflow: hidden;
	.avatar {
		margin: 0 32px 31px 40px;
		float: left;
		border-radius: 50%;
		border: 7px solid #30a6bd;
		width: 201px;
		height: 200px;
		img {
			max-width: 100%;
			border-radius: 50%;
		}
	}
	.about {
		margin-top: 7px;
		.about-items{
			margin-bottom: 28px;
			color: #37424D;
			font-size: 15px;
			font-weight: 300;
			&:nth-child(2) {
				color: #5A636B;
			}
			&:nth-child(3), &:nth-child(4) {
				color: #4A545D;
			}
			&:nth-child(5) strong {
				color: #5A636B;
			}
			&:nth-child(5) {
				
			}	
			
			strong {
				color: #4A545D;
				font-size: 16px;
				font-weight: 500;
			}
		}
	}
}

.job, .education  {
	// height: 242px;
	
}

.job {
	// height: 242px;
	margin-top: 19px;
	background-color: #EFF3F7;
	border-radius: 4px;
	.job-name {
		color: #3BA8C0;
		font-size: 27px;
		font-weight: 300;
		padding: 18px 0 21px 24px;
		border-bottom: 2px solid #3BA8C0;
		width: 225px;
	}
	.job-list {
		padding: 35px 0 36px 130px;
		.job-items {
			margin-bottom: 31px;
			position: relative;
			&:before {
				position: absolute;
				top: 0;
				left: -50px;
				content: '';
				background: url(../img/sprites.png) -50px -100px;
				width: 32px;
				height: 30px;
			}
			p {
				margin-bottom: 8px;
				color: #5A636B;
				font-size: 16px;
				font-weight: 300;
			}
			.job-inner {
				color: #5A636B;
				font-size: 15px;
				font-weight: 300;
				line-height: 1;
				margin-bottom: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}