.right-column {
	width: 648px;
	padding-left: 53px;
	overflow: hidden;
}

.information {
	// height: 324px;
	background-color: #EFF3F7;
	border-radius: 4px;
	.information-name {
		color: #3BA8C0;
		font-size: 27px;
		font-weight: 300;
		padding: 20px 0 20px 24px;
		border-bottom: 2px solid #3BA8C0;
		width: 342px;
	}
	.main-information {
		margin-top: 24px;
	}
}

.main-information {
	.avatar {
		border-radius: 50%;
		border: 7px solid #30a6bd;
		img {
			max-width: 100%;
		}
	}
}

.job, .education  {
	// height: 242px;
}
