.form-group .error {
  background-color: rgba(249, 126, 118, 0.33);
  border-color: #F97E76;
  transition: all .3s ease-in-out;
}

.tooltip{
  color: white !important;
  background: #F27C78 !important;
  border-radius: 4px !important;
  border: 3px solid  #F27C78 !important;
  font-size: 13px  !important;
}