@charset "UTF-8";
/* line 5, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'proxima_nova_condensedSBd';
  src: url("../fonts/proxima/proximanovacond-semibold-webfont.eot");
  src: url("../fonts/proxima/proximanovacond-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima/proximanovacond-semibold-webfont.woff2") format("woff2"), url("../fonts/proxima/proximanovacond-semibold-webfont.woff") format("woff"), url("../fonts/proxima/proximanovacond-semibold-webfont.ttf") format("truetype"), url("../fonts/proxima/proximanovacond-semibold-webfont.svg#proxima_nova_condensedSBd") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrthin';
  src: url("../fonts/helvetica/helveticaneuecyr-thin-webfont.eot");
  src: url("../fonts/helvetica/helveticaneuecyr-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-thin-webfont.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-thin-webfont.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-thin-webfont.ttf") format("truetype"), url("../fonts/helvetica/helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url("../fonts/helvetica/helveticaneuecyr-bold-webfont.eot");
  src: url("../fonts/helvetica/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helveticaneuecyr-bold-webfont.woff2") format("woff2"), url("../fonts/helvetica/helveticaneuecyr-bold-webfont.woff") format("woff"), url("../fonts/helvetica/helveticaneuecyr-bold-webfont.ttf") format("truetype"), url("../fonts/helvetica/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansitalic';
  src: url("../fonts/fira/firasans-italic-webfont.eot");
  src: url("../fonts/fira/firasans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fira/firasans-italic-webfont.woff2") format("woff2"), url("../fonts/fira/firasans-italic-webfont.woff") format("woff"), url("../fonts/fira/firasans-italic-webfont.ttf") format("truetype"), url("../fonts/fira/firasans-italic-webfont.svg#fira_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansregular';
  src: url("../fonts/fira/firasans-regular-webfont.eot");
  src: url("../fonts/fira/firasans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fira/firasans-regular-webfont.woff2") format("woff2"), url("../fonts/fira/firasans-regular-webfont.woff") format("woff"), url("../fonts/fira/firasans-regular-webfont.ttf") format("truetype"), url("../fonts/fira/firasans-regular-webfont.svg#fira_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansmedium';
  src: url("../fonts/fira/firasans-medium-webfont.eot");
  src: url("../fonts/fira/firasans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fira/firasans-medium-webfont.woff2") format("woff2"), url("../fonts/fira/firasans-medium-webfont.woff") format("woff"), url("../fonts/fira/firasans-medium-webfont.ttf") format("truetype"), url("../fonts/fira/firasans-medium-webfont.svg#fira_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sanslight';
  src: url("../fonts/fira/firasans-light-webfont.eot");
  src: url("../fonts/fira/firasans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fira/firasans-light-webfont.woff2") format("woff2"), url("../fonts/fira/firasans-light-webfont.woff") format("woff"), url("../fonts/fira/firasans-light-webfont.ttf") format("truetype"), url("../fonts/fira/firasans-light-webfont.svg#fira_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansbook';
  src: url("../fonts/fira/firasans-book-webfont.eot");
  src: url("../fonts/fira/firasans-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fira/firasans-book-webfont.woff2") format("woff2"), url("../fonts/fira/firasans-book-webfont.woff") format("woff"), url("../fonts/fira/firasans-book-webfont.ttf") format("truetype"), url("../fonts/fira/firasans-book-webfont.svg#fira_sansbook") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/layouts/_header.scss */
.header {
  position: relative;
  background: #eff3f7;
  margin-bottom: 39px;
}
/* line 5, ../sass/layouts/_header.scss */
.header:before {
  content: '';
  display: block;
  background-image: linear-gradient(to right, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
  position: absolute;
  height: 3px;
  bottom: 0px;
  width: 100%;
}

/* line 16, ../sass/layouts/_header.scss */
.inner-header {
  margin: 0 auto;
  overflow: hidden;
  padding: 32px 0;
}

/* line 22, ../sass/layouts/_header.scss */
.header-name {
  float: left;
}
/* line 24, ../sass/layouts/_header.scss */
.header-name h1 {
  color: #6F727E;
  font-family: helveticaneuecyrbold;
  font-size: 28px;
  font-weight: 700;
  padding: 0 0 7px 0;
  border-bottom: 1px solid #6F727E;
}
/* line 32, ../sass/layouts/_header.scss */
.header-name p {
  color: #6F727E;
  font-family: helveticaneuecyrthin;
  font-size: 13px;
  font-weight: 100;
  padding: 6px 0 0 0;
}

/* line 41, ../sass/layouts/_header.scss */
.header-links {
  margin-top: 4px;
  float: right;
}
/* line 44, ../sass/layouts/_header.scss */
.header-links .header-items {
  display: inline-block;
  margin-right: 18px;
}
/* line 47, ../sass/layouts/_header.scss */
.header-links .header-items:last-child {
  margin-right: 0;
}
/* line 50, ../sass/layouts/_header.scss */
.header-links .header-items a {
  background: url(../img/sprites.png);
}
/* line 55, ../sass/layouts/_header.scss */
.header-links .vk a {
  background-position: 0 0;
  width: 46px;
  height: 46px;
  display: inline-block;
}
/* line 60, ../sass/layouts/_header.scss */
.header-links .vk a:hover {
  background-position: 0 -50px;
}
/* line 66, ../sass/layouts/_header.scss */
.header-links .tw a {
  background-position: -50px 0;
  width: 47px;
  height: 47px;
  display: inline-block;
}
/* line 71, ../sass/layouts/_header.scss */
.header-links .tw a:hover {
  background-position: -50px -50px;
}
/* line 78, ../sass/layouts/_header.scss */
.header-links .fb a {
  background-position: -100px 0;
  width: 47px;
  height: 47px;
  display: inline-block;
}
/* line 83, ../sass/layouts/_header.scss */
.header-links .fb a:hover {
  background-position: -100px -50px;
}
/* line 89, ../sass/layouts/_header.scss */
.header-links .gh a {
  background-position: -150px 0;
  width: 47px;
  height: 47px;
  display: inline-block;
}
/* line 94, ../sass/layouts/_header.scss */
.header-links .gh a:hover {
  background-position: -150px -50px;
}

/* line 101, ../sass/layouts/_header.scss */
.footer {
  background: #eff3f7;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 106, ../sass/layouts/_header.scss */
.footer:before {
  content: '';
  display: block;
  background-image: linear-gradient(to right, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
  position: absolute;
  height: 3px;
  top: 0px;
  width: 100%;
}
/* line 115, ../sass/layouts/_header.scss */
.footer p {
  color: #4A545D;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  padding: 30px 0 37px 0;
  font-family: fira_sanslight;
}

/* line 1, ../sass/layouts/_left-column.scss */
.left-column {
  width: 258px;
  float: left;
}

/* line 6, ../sass/layouts/_left-column.scss */
.sidebar {
  border-radius: 4px;
  background-color: #EFF3F7;
  overflow: hidden;
  margin-bottom: 23px;
}
/* line 12, ../sass/layouts/_left-column.scss */
.sidebar .sidebar-items a {
  display: block;
  padding: 28px 0 29px 28px;
  font-weight: 300;
  text-decoration: none;
  color: #959AA8;
  position: relative;
}
/* line 19, ../sass/layouts/_left-column.scss */
.sidebar .sidebar-items a:hover {
  color: #3BA8C0;
}
/* line 22, ../sass/layouts/_left-column.scss */
.sidebar .sidebar-items a:after {
  position: absolute;
  content: '';
  left: 50%;
  right: 50%;
  bottom: -2px;
  height: 2px;
  background: #3BA8C0;
  transition: all .3s;
}
/* line 32, ../sass/layouts/_left-column.scss */
.sidebar .sidebar-items a:hover:after {
  right: 6px;
  left: 6px;
}
/* line 37, ../sass/layouts/_left-column.scss */
.sidebar .sidebar-items.active a {
  padding: 25px 0 26px 28px;
  color: #F9FAFB;
  font-size: 22px;
  background-color: #3BA8C0;
}
/* line 42, ../sass/layouts/_left-column.scss */
.sidebar .sidebar-items.active a:after {
  background: none;
}
/* line 46, ../sass/layouts/_left-column.scss */
.sidebar .sidebar-items:last-child a:after {
  background: none;
}

/* line 54, ../sass/layouts/_left-column.scss */
.contacts {
  border-radius: 4px;
  overflow: hidden;
}
/* line 58, ../sass/layouts/_left-column.scss */
.contacts .contacts-name {
  padding: 10px 0 10px 19px;
  background-color: #3BA8C0;
}
/* line 61, ../sass/layouts/_left-column.scss */
.contacts .contacts-name p {
  color: #FBFCFD;
  font-size: 20px;
  font-weight: 300;
}
/* line 67, ../sass/layouts/_left-column.scss */
.contacts .contacts-items {
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
/* line 71, ../sass/layouts/_left-column.scss */
.contacts .contacts-items:before {
  background: url(../img/sprites.png);
  content: '';
  position: absolute;
}
/* line 76, ../sass/layouts/_left-column.scss */
.contacts .contacts-items a {
  color: #EDEDED;
  text-decoration: none;
}
/* line 81, ../sass/layouts/_left-column.scss */
.contacts .contacts-items:nth-child(1) {
  padding: 11px 0 12px 83px;
  background: #41b9d4;
  transition: all .5s;
}
/* line 85, ../sass/layouts/_left-column.scss */
.contacts .contacts-items:nth-child(1):hover {
  padding-left: 40px;
}
/* line 87, ../sass/layouts/_left-column.scss */
.contacts .contacts-items:nth-child(1):hover:before {
  left: 13px;
}
/* line 91, ../sass/layouts/_left-column.scss */
.contacts .contacts-items:nth-child(1):before {
  top: 11px;
  left: 42px;
  background-position: 0 -100px;
  width: 21px;
  height: 16px;
  transition: all .5s;
}
/* line 101, ../sass/layouts/_left-column.scss */
.contacts .contacts-items:nth-child(2) {
  padding: 10px 0 11px 83px;
  background: #48cbe8;
}
/* line 104, ../sass/layouts/_left-column.scss */
.contacts .contacts-items:nth-child(2):before {
  top: 7px;
  left: 42px;
  background-position: -25px -100px;
  width: 19px;
  height: 21px;
}
/* line 112, ../sass/layouts/_left-column.scss */
.contacts .contacts-items:last-child {
  padding: 8px 0 13px 83px;
  background: #51daf8;
}
/* line 115, ../sass/layouts/_left-column.scss */
.contacts .contacts-items:last-child:before {
  top: 8px;
  left: 39px;
  background-position: 0 -120px;
  width: 20px;
  height: 20px;
}

/* line 1, ../sass/layouts/_right-column.scss */
.right-column {
  width: 648px;
  padding-left: 53px;
  overflow: hidden;
}

/* line 7, ../sass/layouts/_right-column.scss */
.content {
  margin-bottom: 23px;
}

/* line 11, ../sass/layouts/_right-column.scss */
.content {
  background-color: #EFF3F7;
  border-radius: 4px;
}

/* line 16, ../sass/layouts/_right-column.scss */
.content-name {
  color: #3BA8C0;
  font-size: 27px;
  font-weight: 300;
  padding: 20px 0 20px 24px;
  border-bottom: 2px solid #3BA8C0;
  width: 322px;
  margin-bottom: 24px;
}

/* line 27, ../sass/layouts/_right-column.scss */
.main-content {
  overflow: hidden;
}

/* line 30, ../sass/layouts/_right-column.scss */
.avatar {
  margin: 0 32px 31px 40px;
  float: left;
  border-radius: 50%;
  border: 7px solid #30a6bd;
  width: 201px;
  height: 200px;
  behavior: url(/pie/PIE.htc);
}
/* line 38, ../sass/layouts/_right-column.scss */
.avatar img {
  max-width: 100%;
  border-radius: 50%;
  behavior: url(/pie/PIE.htc);
}

/* line 44, ../sass/layouts/_right-column.scss */
.about {
  overflow: hidden;
  margin-top: 7px;
}

/* line 48, ../sass/layouts/_right-column.scss */
.about-items {
  margin-bottom: 28px;
  color: #37424D;
  font-size: 15px;
  font-weight: 300;
}
/* line 53, ../sass/layouts/_right-column.scss */
.about-items:nth-child(2) {
  color: #5A636B;
}
/* line 56, ../sass/layouts/_right-column.scss */
.about-items:nth-child(3), .about-items:nth-child(4) {
  color: #4A545D;
}
/* line 59, ../sass/layouts/_right-column.scss */
.about-items:nth-child(5) strong {
  float: left;
  display: block;
  color: #5A636B;
}
/* line 65, ../sass/layouts/_right-column.scss */
.about-items:nth-child(5) .skills {
  display: block;
  overflow: hidden;
  padding-left: 7px;
}
/* line 70, ../sass/layouts/_right-column.scss */
.about-items:nth-child(5) .skills li {
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
  z-index: 999;
}
/* line 76, ../sass/layouts/_right-column.scss */
.about-items:nth-child(5) li {
  background-color: #3BA8C0;
  margin-right: 8px;
  overflow: hidden;
  background: linear-gradient(#3ba8c0 0%, #3ba8c0 50%, #2e8ca2 51%, #2e8ca2 100%);
}
/* line 82, ../sass/layouts/_right-column.scss */
.about-items:nth-child(5) li#html, .about-items:nth-child(5) li#css, .about-items:nth-child(5) li#js {
  margin-bottom: 5px;
}
/* line 86, ../sass/layouts/_right-column.scss */
.about-items:nth-child(5) li#gulp {
  padding: 2px 8px;
}
/* line 89, ../sass/layouts/_right-column.scss */
.about-items:nth-child(5) li#html {
  padding: 2px 7px;
}
/* line 92, ../sass/layouts/_right-column.scss */
.about-items:nth-child(5) li#css {
  padding: 2px 11px;
}
/* line 95, ../sass/layouts/_right-column.scss */
.about-items:nth-child(5) li#js {
  padding: 2px 11px;
}
/* line 98, ../sass/layouts/_right-column.scss */
.about-items:nth-child(5) li#git {
  padding: 2px 12px 2px 13px;
}
/* line 101, ../sass/layouts/_right-column.scss */
.about-items:nth-child(5) li span {
  font-family: proxima_nova_condensedSBd;
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
  display: block;
  z-index: 99;
}
/* line 112, ../sass/layouts/_right-column.scss */
.about-items strong {
  color: #4A545D;
  font-size: 16px;
  font-weight: 500;
  font-family: fira_sansmedium;
}

/* line 121, ../sass/layouts/_right-column.scss */
.content-list {
  padding: 14px 0 34px 130px;
}
/* line 123, ../sass/layouts/_right-column.scss */
.content-list .content-items {
  margin-bottom: 31px;
  position: relative;
}
/* line 127, ../sass/layouts/_right-column.scss */
.content-list .content-items.job:before {
  position: absolute;
  top: 0;
  left: -50px;
  content: '';
  background: url(../img/sprites.png) -50px -100px;
  width: 32px;
  height: 30px;
}
/* line 136, ../sass/layouts/_right-column.scss */
.content-list .content-items.job p {
  color: #5A636B;
}
/* line 139, ../sass/layouts/_right-column.scss */
.content-list .content-items.job:last-child {
  margin-bottom: 0;
}

/* line 146, ../sass/layouts/_right-column.scss */
.content-inner {
  color: #5A636B;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0;
  font-family: fira_sanslight;
}

/* line 154, ../sass/layouts/_right-column.scss */
.content-items {
  padding-right: 30px;
}
/* line 156, ../sass/layouts/_right-column.scss */
.content-items:before {
  position: absolute;
  background: url(../img/sprites.png);
}
/* line 160, ../sass/layouts/_right-column.scss */
.content-items:nth-child(1):before {
  top: 0;
  left: -68px;
  content: '';
  background-position: -150px -100px;
  width: 41px;
  height: 23px;
}
/* line 169, ../sass/layouts/_right-column.scss */
.content-items:nth-child(2):before {
  top: 0;
  left: -60px;
  content: '';
  background-position: -100px -100px;
  width: 26px;
  height: 32px;
}
/* line 177, ../sass/layouts/_right-column.scss */
.content-items p {
  color: #4A545D;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 7px;
}
/* line 182, ../sass/layouts/_right-column.scss */
.content-items p a {
  color: #4A545D;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
/* line 187, ../sass/layouts/_right-column.scss */
.content-items p a:hover {
  text-decoration: underline;
}

/* line 1, ../sass/layouts/_form.scss */
.form {
  background-color: #EEF3F7;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* line 7, ../sass/layouts/_form.scss */
.form-head {
  position: relative;
  background-color: #00CCEA;
  text-align: center;
  color: #FFF;
  font-size: 27px;
  font-weight: 300;
  padding: 50px 60px 45px 60px;
}
/* line 15, ../sass/layouts/_form.scss */
.form-head:before {
  content: '';
  bottom: -17px;
  left: 0;
  position: absolute;
  width: 649px;
  height: 17px;
  background-color: #00E0FB;
}

/* line 26, ../sass/layouts/_form.scss */
.form-content {
  padding: 65px 0 174px 130px;
  width: 377px;
}

/* line 31, ../sass/layouts/_form.scss */
.form-group {
  display: inline-block;
  position: relative;
  margin-bottom: 17px;
}
/* line 35, ../sass/layouts/_form.scss */
.form-group label, .form-group input, .form-group textarea {
  font-family: fira_sanslight;
}
/* line 38, ../sass/layouts/_form.scss */
.form-group label {
  color: #4F697C;
  font-size: 20px;
  font-weight: 300;
}
/* line 43, ../sass/layouts/_form.scss */
.form-group input {
  width: 163px;
  background-color: #FBFCFD;
  border: 1px solid #00AAC2;
  border-radius: 4px;
  color: #00AAC2;
  font-size: 12px;
  font-weight: 300;
  padding: 4px 0 3px 7px;
  margin-top: 7px;
}
/* line 54, ../sass/layouts/_form.scss */
.form-group.name {
  float: left;
}
/* line 55, ../sass/layouts/_form.scss */
.form-group.email {
  float: right;
}
/* line 57, ../sass/layouts/_form.scss */
.form-group input::-webkit-input-placeholder {
  font-family: fira_sanslight;
  color: #00AAC2;
  font-size: 12px;
  font-weight: 300;
}
/* line 65, ../sass/layouts/_form.scss */
.form-group textarea {
  width: 363px;
  background-color: #FBFCFD;
  border: 1px solid #00AAC2;
  border-radius: 4px;
  resize: none;
  padding: 6px 6px 134px 6px;
  margin-top: 7px;
  color: #00AAC2;
  font-size: 12px;
  font-weight: 300;
}
/* line 77, ../sass/layouts/_form.scss */
.form-group textarea::-webkit-input-placeholder {
  font-family: fira_sanslight;
  color: #00AAC2;
  font-size: 12px;
  font-weight: 300;
}
/* line 83, ../sass/layouts/_form.scss */
.form-group textarea::-moz-placeholder {
  font-family: fira_sanslight;
  color: #00AAC2;
  font-size: 12px;
  font-weight: 300;
}
/* line 89, ../sass/layouts/_form.scss */
.form-group textarea:-moz-placeholder {
  font-family: fira_sanslight;
  color: #00AAC2;
  font-size: 12px;
  font-weight: 300;
}
/* line 95, ../sass/layouts/_form.scss */
.form-group textarea:-ms-input-placeholder {
  font-family: fira_sanslight;
  color: #00AAC2;
  font-size: 12px;
  font-weight: 300;
}
/* line 104, ../sass/layouts/_form.scss */
.form-group.captcha .innerblock {
  margin-top: 7px;
  overflow: hidden;
  width: 377px;
}
/* line 108, ../sass/layouts/_form.scss */
.form-group.captcha .innerblock .for-captcha {
  width: 186px;
  height: 79px;
  border: 1px solid #00AAC2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
}
/* line 117, ../sass/layouts/_form.scss */
.form-group.captcha .innerblock input[type="text"] {
  float: right;
  margin-top: 27px;
}
/* line 125, ../sass/layouts/_form.scss */
.form-group.buttons {
  display: block;
  overflow: hidden;
}
/* line 129, ../sass/layouts/_form.scss */
.form-group.buttons input[type="submit"] {
  float: left;
  border: none;
  width: 139px;
  background-color: #00CCEA;
  border-radius: 5px;
  color: #F6F6F6;
  font-size: 19px;
  font-weight: 300;
  padding: 0 8px;
  box-shadow: 0 3px 0 #00AAC2;
  margin-bottom: 3px;
  cursor: pointer;
}
/* line 143, ../sass/layouts/_form.scss */
.form-group.buttons input[type="reset"] {
  float: right;
  border: none;
  width: 139px;
  background-color: #799EB7;
  border-radius: 5px;
  color: #F6F6F6;
  font-size: 19px;
  font-weight: 300;
  padding: 0 8px;
  box-shadow: 0 3px 0 #5E7C91;
  cursor: pointer;
}

/* line 159, ../sass/layouts/_form.scss */
.success {
  padding: 15px 0;
  max-width: 100%;
  display: block;
  text-align: center;
  font-size: 19px;
  color: #fff;
  background: #3BA8C0;
  box-shadow: 0 5px 8px grey;
  border-radius: 4px;
}

/* line 171, ../sass/layouts/_form.scss */
.for-captcha {
  text-align: center;
}

/* line 1, ../sass/layouts/_work.scss */
.work {
  background-color: #EEF3F7;
  border-radius: 4px;
  width: 648px;
}

/* line 8, ../sass/layouts/_work.scss */
.work-name {
  padding: 28px 0 12px 35px;
  color: #00AAC2;
  font-size: 27px;
  font-weight: 300;
  border-bottom: 2px solid #00AAC2;
  width: 192px;
}

/* line 17, ../sass/layouts/_work.scss */
.work-content {
  padding: 33px 7px 0 7px;
}

/* line 21, ../sass/layouts/_work.scss */
.cols-4 {
  width: 33.33333%;
  float: left;
  padding: 0 15px 20px;
  box-sizing: border-box;
}
/* line 26, ../sass/layouts/_work.scss */
.cols-4 img {
  max-width: 100%;
}
/* line 29, ../sass/layouts/_work.scss */
.cols-4 p {
  text-align: center;
  padding-top: 9px;
  color: #44535D;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  font-family: fira_sanslight;
}
/* line 39, ../sass/layouts/_work.scss */
.cols-4 a {
  color: #00AAC2;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  font-family: fira_sansitalic;
}
/* line 47, ../sass/layouts/_work.scss */
.cols-4 .project {
  width: 183px;
  height: 129px;
  border: 2px solid #00AAC2;
  border-radius: 4px;
  position: relative;
  background: #fff;
  overflow: hidden;
}
/* line 55, ../sass/layouts/_work.scss */
.cols-4 .project.add {
  text-align: center;
  cursor: pointer;
  border: 1px dashed #00AAC2;
  background: url(../img/upload.png) no-repeat 74px 32px;
  transition: all .3s linear;
}
/* line 61, ../sass/layouts/_work.scss */
.cols-4 .project.add:hover {
  background-color: rgba(230, 251, 255, 0.64);
}
/* line 64, ../sass/layouts/_work.scss */
.cols-4 .project.add a {
  line-height: 170px;
  color: #00AAC2;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-family: fira_sanslight;
}
/* line 74, ../sass/layouts/_work.scss */
.cols-4 .project:hover .hover {
  top: 0;
  opacity: 1;
}
/* line 80, ../sass/layouts/_work.scss */
.cols-4 .hover {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  background-color: rgba(0, 108, 167, 0.7);
  transition: all .3s;
  z-index: 1;
  text-align: center;
}
/* line 91, ../sass/layouts/_work.scss */
.cols-4 .hover p {
  text-align: center;
  padding-top: 53px;
}
/* line 95, ../sass/layouts/_work.scss */
.cols-4 .hover a {
  color: #EFF3F7;
  font-size: 12px;
  border: 2.5px solid #EEF3F7;
  border-radius: 4px;
  padding: 0 3px;
  font-family: fira_sansbook;
  font-style: normal;
  line-height: 129px;
}

/* line 6, ../sass/layouts/_container.scss */
.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 120px;
}

/* line 1, ../sass/layouts/_popup.scss */
body {
  position: relative;
}

/* line 5, ../sass/layouts/_popup.scss */
.popup {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(79, 105, 123, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
}
/* line 15, ../sass/layouts/_popup.scss */
.popup .popup-inner {
  height: 483px;
  width: 364px;
  background-color: #EEF3F7;
  border-radius: 4px;
  box-shadow: 0 6px 12.5px 0.5px rgba(5, 7, 3, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  margin: auto;
  overflow: hidden;
}

/* line 34, ../sass/layouts/_popup.scss */
.popup-name {
  background-color: #EEF3F7;
  color: #FBFCFD;
  font-size: 24px;
  font-weight: 400;
  background-color: #00CCEA;
  padding: 12px 0 8px 12px;
  font-family: fira_sansregular;
  position: relative;
  box-shadow: 0 9px 0 #00e0fb;
}
/* line 44, ../sass/layouts/_popup.scss */
.popup-name .close {
  background: url(../img/sprites.png) #00CCEA -72px -134px;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 11px;
  position: absolute;
  cursor: pointer;
  float: right;
}

/* line 56, ../sass/layouts/_popup.scss */
.popup-content {
  padding: 20px 23px 0 24px;
}
/* line 58, ../sass/layouts/_popup.scss */
.popup-content .form-group {
  margin: 0  0 10px 0;
  display: block;
}
/* line 61, ../sass/layouts/_popup.scss */
.popup-content .form-group label {
  font-family: fira_sansbook;
}
/* line 64, ../sass/layouts/_popup.scss */
.popup-content .form-group input, .popup-content .form-group textarea {
  border: 1px solid #00CCEA;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  padding: 9px;
  color: #00CCEA;
  font-size: 12px;
  font-weight: 300;
  margin-top: 5px;
}
/* line 75, ../sass/layouts/_popup.scss */
.popup-content .form-group textarea {
  padding-bottom: 60px;
}
/* line 79, ../sass/layouts/_popup.scss */
.popup-content .form-group .upload {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #FBFCFD;
  border: 1px solid #00CCEA;
  border-radius: 4px;
  margin-top: 5px;
  box-sizing: border-box;
}
/* line 88, ../sass/layouts/_popup.scss */
.popup-content .form-group .upload p {
  float: left;
  color: #00AAC2;
  font-size: 12px;
  font-weight: 300;
  padding: 13px 0 13px 9px;
}
/* line 95, ../sass/layouts/_popup.scss */
.popup-content .form-group .upload .upload-button {
  position: relative;
  float: right;
  width: 52px;
  height: 39px;
  background-color: #00CCEA;
}
/* line 101, ../sass/layouts/_popup.scss */
.popup-content .form-group .upload .upload-button:before {
  background: url(../img/sprites.png) #00CCEA -107px -134px;
  width: 32px;
  height: 24px;
  top: 7px;
  left: 10px;
  position: absolute;
  content: '';
}
/* line 114, ../sass/layouts/_popup.scss */
.popup-content .form-group input[type="file"] {
  margin: 0;
  padding: 0;
  border: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  cursor: pointer;
}
/* line 126, ../sass/layouts/_popup.scss */
.popup-content .form-group input[type="submit"] {
  border: none;
  color: #F6F6F6;
  font-size: 20px;
  font-weight: 300;
  font-family: 'fira_sansbook';
  width: 139px;
  background-color: #00CCEA;
  padding: 6px 0;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  line-height: 1;
  box-shadow: 0 2px 0 #00AAC2;
  cursor: pointer;
}

/* line 1, ../sass/layouts/_tooltip.scss */
.form-group .error {
  background-color: rgba(249, 126, 118, 0.33);
  border-color: #F97E76;
  transition: all .3s ease-in-out;
}

/* line 7, ../sass/layouts/_tooltip.scss */
.tooltip {
  color: white !important;
  background: #F27C78 !important;
  border-radius: 4px !important;
  border: 3px solid  #F27C78 !important;
  font-size: 13px  !important;
}

@media screen and (max-width: 1199px) {
  /* line 2, ../sass/layouts/_queries.scss */
  .inner-header {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 9, ../sass/layouts/_queries.scss */
  .inner-header {
    width: 1200px;
  }
}
/* line 9, ../sass/style.scss */
* {
  behavior: url(js/vendor/PIE.htc);
}

/* line 13, ../sass/style.scss */
html {
  height: 100%;
}

/* line 17, ../sass/style.scss */
body {
  min-height: 100%;
  position: relative;
}

/* line 22, ../sass/style.scss */
body {
  background: url(../img/background.png);
  font-family: fira_sansbook, 'Arial';
}

/* line 27, ../sass/style.scss */
.wrapper {
  width: 100%;
  height: 100%;
}

/* line 32, ../sass/style.scss */
.clearfix:before, .work:before,
.clearfix:after,
.work:after {
  content: "";
  display: table;
}

/* line 37, ../sass/style.scss */
.clearfix:after, .work:after {
  clear: both;
}

/* line 40, ../sass/style.scss */
.clearfix, .work {
  zoom: 1;
  /* ╨е╨░╨║ ╨┤╨╗╤П IE 6 ╨╕ 7 */
}
